.app {
  background-color: #121212;
  color: white;
  min-height: calc(100vh - 100px);
  padding: 50px;
}

h1 {
  text-align: center;
  color: #31C4F3;
  font-size: 3em;
}

h1 fa-icon {
  color: white;
  display: inline-block;
  padding-right: 5px;
}
